extends layout

block content
    h1.centered.larger= title
    div.centered
        a.btn.btn-danger.btn-large(href="http://localhost:3000/") Logout

    div.chart_body
    script(src="/javascripts/chart.js")

