html {
    background-image: url(../images/cartographer.png);
    background-repeat: repeat;
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url(../images/cartographer.png);
    background-repeat: repeat;
}

.chart_body {
    text-align: center;
    margin-top: 50px;
    min-width: 900px
}

a {
  color: #00B7FF;
}

* {
    /*outline: 2px solid red;*/
}

h1 {
    min-width: 900px; 
}

.centered {
    margin: auto;
    text-align: center;
    margin-top: 50px;
    color: #DDDDDD;
}

.larger {
    font-size: 100px;
}

.chart rect {
  stroke: white;
  margin-left: 500px;
  margin-right: 500px;
}

.title {
  margin-left: 500px;
  margin-right: 500px;
}

.artist {
    text-align:center;
    font-size: 36px;
    color: #DDDDDD;
}

.labels {
    position: relative;
    margin-top: -260px;
    margin-bottom: 255px;
    text-align:center;
    font-size: 60px;
    color: #DDDDDD;
}